.header {
  background-color: #282c34;
  display: flex;
  align-items: center;
  height: 65px;
  color: #fff;
  padding: 10px;
}

main {
  padding: 36px;
}

.header-title {
  font-size: 20px;
  margin-right: auto;
}

.header-text {
  font-size: 12px;
  font-weight: light;
  color: gray;
}

.form{
  display: grid;
  grid-template: 40px 40px / 1fr 1fr;
  gap: 17px;
}

.form--input {
  border-radius: 5px;
  border: 1px solid #D5D4D8;
  text-indent: 5px;
}

.form--button{
  grid-column: 1 / -1;
  border-radius: 5px;
  cursor: pointer;
}

.form--button:hover{
  background-color: #282c34;
  color: #fff;
}

.meme-image img{
  max-width: 100%;
}