.header {
  background-color: #282c34;
  display: flex;
  align-items: center;
  height: 65px;
  color: #fff;
  padding: 20px;
}

.header-title {
  font-size: 20px;
  margin-right: auto;
}

.header-text {
  font-size: 12px;
  font-weight: 500px;
}
